{% extends 'layout/base.html.twig' %}

{% block body %}

    {# FLASHES #}

    {% for message in app.flashes('signin') %}
        <div class="alert alert-light mb-m50">
            {{ message }} <a href="{{ path('security_login') }}" class="close_x">&#10005;</a>
        </div>
    {% endfor %}

    <div class="mt-10 login">
        <h1>Connexion</h1><br>

        {# Form Login #}
        {% include '/includes/formLogin.html.twig' %}
        
    </div>
{% endblock %}