{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="alert alert-light mb-m75">
        Le compte a été supprimé. <a href="{{ path('home') }}" class="close_x">&#10005;</a>
    </div>

    {# redirection gérée dans le script redirect.js #}
    {% block javascripts %}
        <script src="{{ asset('assets/js/redirect.js') }}"></script>
    {% endblock %}

    {# redirection après 3 secondes #}
    <script>setTimeout(redir,3000);</script>

{% endblock %}