{% extends 'layout/base.html.twig' %}

{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">
        

        <h2>Tags</h2>
        <ul>
            {% for tag in post.tags %}
            {{ tag.name }}
            {% endfor %}
        </ul>

        <hr>

    </div>

{% endblock %}