{% extends 'layout/base.html.twig' %}

{% block body %}

    <section class="search mt-10">
        <div class="mb-20">
            <b>Rechercher par :</b> &nbsp;
            <a href="{{ path('search') }}" class="btn btn-light btn-sm">Artiste</a>&nbsp;
            <a href="{{ path('search_by_title') }}" class="btn btn-light btn-sm">Titre</a>&nbsp;
            <div class="btn btn-success btn-sm">Année</div>
        </div>
        <h1>Effectuer une recherche par année</h1>
        {{ form(form) }}
    </section>

{% endblock %}